<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<div style="text-align:center;" class="jumbotron">
  <h1>
    {{ title }}!
  </h1>
  <h2>
    {{ introduction }}
  </h2>
</div>

<div style="text-align:center">
  <!-- Grey with black text -->
  <nav class="navbar navbar-expand-sm bg-light justify-content-center navbar-light">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Video Curriculum</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Tailored Lessons</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Community Forum</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Shag Shop</a>
      </li>
    </ul>
  </nav>
</div>

<div style="text-align:left">
  <ul>
    <li>Tailored Tutorial Videos</li>
    <li>Lessons on the Shag</li>
    <li>Open Community for Support</li>
  </ul>
</div>


<router-outlet></router-outlet>
